<style>
    /* 1CRM Proprietary Plan styles */

</style>

<div id="plan_selection_widget">
    <h3>1CRM Onboarding 2.0</h3>
<!-- plans referenced in the shortcode are injected below this comment -->
</div>

<script id="plan_selection" type="text/template">
    <form id="decoy" onsubmit="return false;"></form>
    <form accept-charset="utf-8" onsubmit="return false;"><div class="onecrm">
        <div class="onecrm-p-a-plan">
            <div class="plan_details">{TPL:plan_details}</div>
            <div class="options">{all_options}</div>
            <div class="billing_details">
                <div class="billing_cycle">{TPL:plan_billing_cycle}</div>
                <div class="plan_pricing"></div>
                <div class="plan_quantity"></div>
                <div class="plan_amount"></div>
                <div class="grand_total"></div>
            </div>
            <div class="plan_image">{TPL:plan_image}</div>
            <br class="cb">
        </div>
    </div></form>
</script>

<script id="plan_billing_cycle" type="text/template">
    <label>Billing Period: </label><span>{billing.{billing_cycle}}</span>
</script>
<script id="plan_image" type="text/template">{product.image_url}</script>
<script id="plan_details" type="text/template">
    <input type="hidden" name="plan[pp_plan_id]" value="{HTML:pp_plan_id}">
    <input type="hidden" name="plan[payment_processor_id]" value="{HTML:payment_processor_id}">
    <h3>{name}</h3>
    <div class="description">{product.thumbnail_url}{description}<br>{product.description_long}</div>
</script>

<script id="plan_quantity" type="text/template">
    <label>{qty_label}</label> <input name="plan[quantity]" type="number" min="{HTML:qty_min}" value="{HTML:quantity}" size="6" style="width:6em; text-align:right;">
</script>

<script id="plan_amount" type="text/template">
    <label>Plan amount:</label> <span class="currency_symbol">{currency_symbol}</span><span class="amount">{total}</span> <span class="currency_iso4217">{currency_iso4217}</span>
</script>

<script id="grand_total" type="text/template">
    <label>Total amount:</label> <span class="currency_symbol">{currency_symbol}</span><span class="amount">{grand_total}</span> <span class="currency_iso4217">{currency_iso4217}, billed {billing.{billing_cycle}}</span> {submit}
</script>

<script id="plan_pricing" type="text/template">
    <div>
        <h6>Pricing: {pricing.{pricing_model}}</h6>
        <ul class="plan_tiers"></ul>
    </div>
</script>

<script id="pricing_rows_Tiered" type="text/template">
    <li><label>{qty_label}</label> <span class="quantity">{quantity} - {limit}</span> <span class="currency_symbol">{currency_symbol}</span><span class="amount">{amount}</span> <span class="currency_iso4217">{currency_iso4217}</span></li>
</script>

<script id="pricing_rows_Volume" type="text/template">
    <li><label>{qty_label}</label> <span class="quantity">{quantity} - {limit}</span> <span class="currency_symbol">{currency_symbol}</span><span class="amount">{amount}</span> <span class="currency_iso4217">{currency_iso4217}</span></li>
</script>

<script id="pricing_rows_Stairstep" type="text/template">
    <li><label>{qty_label}</label> <span class="quantity">{limit}</span> <span class="currency_symbol">{currency_symbol}</span><span class="amount">{amount}</span> <span class="currency_iso4217">{currency_iso4217}</span></li>
</script>

<script>
    // glue script run when after the matching template is injected:
    jQuery(function($){
        var app=OneCRM.Portal.App, R = app.replace;

        app.planMatrix = {
            // 1st part = Cloud,On-Premise
            // snd part = Monthly,Yearly
            // 3rd part = Startup,Startup+,Professional,Enterprise
            'DEFAULT':                      '1crm-monthly-cloud-professional',
            'Yearly-Cloud-Enterprise':      '1crm-annual-cloud-enterprise',
            'Yearly-Cloud-Professional':    '1crm-annual-cloud-professional',
            'Yearly-Cloud-Startup+':        '1crm-annual-cloud-startup+',
            'Yearly-Cloud-Startup':         '1crm-annual-cloud-startup',
            "Monthly-Cloud-Enterprise":		"1crm-monthly-cloud-enterprise",
            "Monthly-Cloud-Professional":	"1crm-monthly-cloud-professional",
            "Monthly-Cloud-Startup+":		"1crm-monthly-cloud-startup+",
            "Monthly-Cloud-Startup":		"1crm-monthly-cloud-startup",
            "Yearly-On-Premise-Enterprise":	"1crm-annual-on-premise-enterprise",
            "Yearly-On-Premise-Professional":"1crm-annual-on-premise-professional",
            "Yearly-On-Premise-Startup+":	"1crm-annual-on-premise-startup+",
            "Yearly-On-Premise-Startup":	"1crm-annual-on-premise-startup",
            "Monthly-On-Premise-Enterprise":"1crm-monthly-on-premise-enterprise",
            "Monthly-On-Premise-Professional":"1crm-monthly-on-premise-professional",
            "Monthly-On-Premise-Startup+":	"1crm-monthly-on-premise-startup+",
            "Monthly-On-Premise-Startup":	"1crm-monthly-on-premise-startup"
        };

        app.tScripts['plan_selection'] = {
            init: function (src, target, replace, leave) {
                var plan = new app.Plan(replace[0], target);
                target.plan = plan;
                plan.renderOptionSet();
                plan.renderPricingModel();
                plan.renderQuantity();
                /* Addons are disabled for onboarding for now
                plan.renderAddons('R.plan_wrappers');/**/
                plan.registerEvents('R.plan_wrappers');
                // master plan watch/change events:
                $(target).on('change keyup mouseup', 'input.active_users, select.billing_period, select.cloud_or_premise, select.edition', function(){
                    var period = $("select.billing_period", target).val(),
                        hosting = $("select.cloud_or_premise", target).val(),
                        edition = $('select.edition',target).val(),
                        quantity = +$('input.active_users', target).val(),
                        key3d, pp_plan_id;
                    if (edition !== 'Enterprise' && (edition !== 'Professional')) {
                        if (quantity > 10) edition = "Professional";
                        else if (quantity > 3) edition = "Startup+";
                        else if (quantity > 0) edition = "Startup";
                        else if (quantity == 0) edition = "Startup";
                        $('.options .edition').val(edition);
                    }
                    key3d = [period,hosting,edition].join('-');
                    if (! app.planMatrix[key3d]) key3d = 'DEFAULT';
                    pp_plan_id = app.planMatrix[key3d];
                    if (plan.row.pp_plan_id != pp_plan_id) {
                        plan = new app.Plan(R.Plan[pp_plan_id], target);
                        plan.renderPricingModel();
                        plan.renderDetails();
                    }
                    plan.row.quantity = quantity;
                    if (key3d !== "DEFAULT") plan.renderQuantity();
                    plan.updateTotal('R.plan_wrappers');
                    plan.updateGrandTotal('R.plan_wrappers');
                });
            }
        };
        /* Addons are disabled for Onboarding for now
        app.tScripts['addon_selection'] = {
            init: function (src, target, replace, leave) {
                var addon = new app.Addon(replace[0], target);
                var row = addon.row, pricing = addon.pricing;
                addon.renderOptionSet();
                addon.renderPricingModel();
                addon.renderQuantity();
                addon.registerEvents();
            }
        };/**/
    });
</script>
